[run]
plugins =
    django_coverage_plugin
[report]
omit =  */tests/*
        venv/*
        /home/travis/virtualenv/*
        */apps.py
        probemanager/probemanager/celery.py
        probemanager/probemanager/settings/*
        probemanager/manage.py
        probemanager/runtests.py
        migrations/*
        */__init__.py
[html]
title = "ProbeManager Coverage report"
