[run]
plugins =
    django_coverage_plugin
[report]
fail_under = 70
omit =  */tests/*
        venv/*
        /home/travis/virtualenv/*
        */apps.py
        probemanager/probemanager/celery.py
        probemanager/probemanager/settings/*
        probemanager/manage.py
        probemanager/runtests.py
        */migrations/*
        */__init__.py
        */settings.py
[html]
title = "ProbeManager Coverage report"
