[flake8]
ignore = E501, E402
exclude =
    .git,
    __pycache__,
    doc/,
    venv/,
    htmlcov/,
    manage.py,
    probemanager/probemanager/settings/*,
max-complexity = 22
#E501 line too long
#E402 Not importing files at top of the file
