[submodule "suricata"]
	path = probemanager/suricata
	url = https://github.com/treussart/ProbeManager_Suricata.git
	branch = develop
[submodule "bro"]
	path = probemanager/bro
	url = https://github.com/treussart/ProbeManager_Bro.git
	branch = develop
[submodule "ossec"]
	path = probemanager/ossec
	url = https://github.com/treussart/ProbeManager_Ossec.git
	branch = develop
[submodule "checkcve"]
	path = probemanager/checkcve
	url = https://github.com/treussart/ProbeManager_CheckCVE.git
	branch = develop
