<!DOCTYPE html>
<html lang="en">
<head>
    {% block header %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/bootstrap/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/bootstrap/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">

    <script type="text/javascript" src="{% static 'core/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/bootstrap/js/bootstrap.min.js' %}"></script>

    <link rel="shortcut icon" href="{% static 'core/images/favicon.png' %}"/>
    {% endblock %}

    <title>{% block title %}Probe Manager{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<div id="sidebar">
    {% block sidebar %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Probe Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Administration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/v1/doc/">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/core/job/">Jobs</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'rules:search' %}">
                <input class="form-control mr-sm-2" type="text" placeholder="Search Rules" aria-label="Search"
                       name="pattern">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    {% endblock %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
