{% extends "core/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="row">    
  {% for instance in instances %}
  <div class="col-sm" style="padding: 50px;">
    {% with instance|add:"/home.html" as template %}
    {% include template %}
    {% endwith %}
  </div>
  {% endfor %}
</div>

{% endblock %}
