{% extends "home/base.html" %}

{% block title %}{{ probe.type }}{% endblock %}

{% block content %}

<h2 style="padding-left:40px;">Instance {% if probe.subtype %} {{ probe.subtype }} {% else %} {{ probe.type }} {% endif
    %} : {{ probe.name }}</h2>
<div class="row">
    <div class="col-md-6 mb-3" style="padding-left:50px;">
        {% if probe.description != " " %}
        Description:
        <pre>{{ probe.description }}</pre>
        {% endif %}
        Os : {{ probe.server.os }} <br>
        Host : {{ probe.server.host }}<br>
        Created date : {{ probe.created_date }}<br>
        {% if probe.rules_updated_date %}
        Rules updated date : {{ probe.rules_updated_date }}
        {% else %}
        Rules updated date : Never
        {% endif %}
        <br>
        Uptime {{ probe.type }} : {{ probe.uptime }}
        <br><br>{% load status %}
        <a class="list-group-item list-group-item-action list-group-item-{{ probe.id|status }}"
           href="/{{ probe.type|lower }}/status/{{ probe.id }}">Refresh Instance Status</a>
        <br>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-success"
                    onclick="window.location.href='/{{ probe.type|lower }}/start/{{ probe.id }}'">Start
            </button>
            <button type="button" class="btn btn-outline-danger"
                    onclick="window.location.href='/{{ probe.type|lower }}/stop/{{ probe.id }}'">Stop
            </button>
            <button type="button" class="btn btn-outline-secondary"
                    onclick="window.location.href='/{{ probe.type|lower }}/reload/{{ probe.id }}'">Reload
            </button>
            <button type="button" class="btn btn-outline-primary"
                    onclick="window.location.href='/{{ probe.type|lower }}/restart/{{ probe.id }}'">Restart
            </button>
        </div>
        <br>
        {% if messages %}
        <br>
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
        <br>
        <div class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-secondary"
               href="/{{ probe.type|lower }}/install/{{ probe.id }}">Install {{ probe.type }} Instance</a>
            <a class="list-group-item list-group-item-action list-group-item-secondary"
               href="/{{ probe.type|lower }}/update/{{ probe.id }}">Update {{ probe.type }} Instance</a>
            <a class="list-group-item list-group-item-action list-group-item-secondary"
               href="/{{ probe.type|lower }}/deploy-conf/{{ probe.id }}">Deploy Configuration</a>
            <a class="list-group-item list-group-item-action list-group-item-secondary"
               href="/{{ probe.type|lower }}/deploy-rules/{{ probe.id }}">Deploy Rules</a>

        </div>
    </div>
</div>
{% endblock %}
